*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share */

.font_open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* main */
}
.text-center{
    text-align: center;

}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../hero-dev-portfolio-resources/images/developer.png"),
     url("../hero-dev-portfolio-resources/images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: 25px 40px, bottom right;
}

nav {
    width: 60%;
    max-width: 1140px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 6px ;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;


}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #757575;
    line-height: 30px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
#banner .banner-content{
    max-width: 585px;

}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    mask-size: 585px;
    vertical-align: middle;
}

#about ,#resume{
    padding-top: 130px;
}
#about .about-container{
    width: 60%;
    max-width: 1140px;
    display: flex;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}
#about .about-container .about-info{
    display: flex;
   justify-content: space-between;
}
.about-info .info-card p{
    font-size: 20px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;
}

#skill{
    padding-top: 130px;
}
#skill .skill-container{
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;
}
#skill .skill-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0px #eca6a694;
    border-radius: 6px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom:30px ;
}
.skill-card h3{
    font-size: 30px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}
#resume .resume-container{

    width: 60%;
    max-width: 1140px;
    margin: 113px auto 0;
}
.resume-container hr{
    margin: 30px 0;
}
.resume-container{
    display: flex;
    gap: 25px;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;

}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #474747;

}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;

}
.footer-container {
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    margin-bottom: 20px;
    color: #181818;
}
.footer-container .social p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;

}
.footer-container .icons a{
    margin-right: 24px;


}
.footer-container form input[type="text"] ,.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-top: 24px;
    border-radius: 5px;
    border: none;
    color: #757575;
}
    

