*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share */

.font_open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* main */
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 60%;
    max-width: 1140px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 6px ;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;

}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}