*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share */

.font_open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* main */
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../hero-dev-portfolio-resources/images/developer.png"), url("../hero-dev-portfolio-resources/images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    width: 60%;
    max-width: 1140px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 6px ;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
#banner .banner-content{
    max-width: 585px;

}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    mask-size: 585px;
    vertical-align: middle;
}